# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
.venv/

# Temporary editor files
*.asv

# Data and output files
*.json
*.csv
*.npy
*.mat
*.fig
*.log
*.db

# Model files
*.pth

# Media files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.avi
*.mp4

# Data and result directories
Materials/
Results/

# Build and distribution files
build/
dist/
*.spec
ClearAIM.egg-info/
